@model IEnumerable<fitnessMVC.Model.tbl_mainPost>
@{
              

                Layout = null;
}
<div class="w-header">
    <div class="w-title">Digər mövzular</div>
    <div class="w-seperator"></div>
</div>
<div class="more-posts">
    @foreach (var item in Model)
    {
        <div class="columns column-2">
            <article class="post-box" style="background: url(@item.Photo); background-size:cover; background-repeat:no-repeat;">
                <div class="post-overlay">
                    <a href="#" class="post-category" title="Title of blog post" rel="tag">@item.tbl_post_category.CategoryName</a>
                    <a href="@Url.Action("postDetail","Home",new {Id =item.Id })"><h3 class="post-title">@item.Header</h3></a>
                    <div class="post-meta">
                        <div class="post-meta-author-avatar">
                            <img alt="avatar" src="/PublicFront/assets/photo/Tural1.jpg" class="avatar" height="24" width="24">
                        </div>
                        <div class="post-meta-author-info">
                            <span class="post-meta-author-name">
                                <a href="#" title="Posts by John Doe" rel="author">@item.tbl_user.UserName</a>
                            </span>
                            <span class="middot">·</span>
                            <span class="post-meta-date">
                                <abbr class="published updated" title="December 4, 2017">12 Noyabr 2019</abbr>
                            </span>
                        </div>
                    </div>
                </div>
                <a href="#" class="post-overlayLink"></a>
            </article>

        </div>
    }
</div>
